body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.App {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  gap:10px;
}

.icon-display {
  min-height: 100px;
  width: 100px;
  height: 100px;
  background-color: rgb(22, 70, 124);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  color: white;
  font-size: 20px;
  padding: 1.5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}